
.all
{
  align-items: center;
  text-align: center;
  color: #800000;
  font-family: calibri;
  font-weight: bold;
}
body {
  background-color: #fff2e6;
}

.t
{
    margin-top: 0;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;
    background-color: #ffb3b3;
    color: #660000;
    padding: 40px;
    font-family: calibri;
}
.reg
{
  margin-top: 150px;
}

.submit
{
  align-self: center;
  display: block;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  font-weight: bold;
  font-family: calibri;
}

.submit{
  border-radius: 5px;
  padding: 5px 20px;
  background-color: white;
  color: black;
  border: 2px solid #999966;
}

.submit:hover {
  background-color: #999966;
  color: white;
}

#lab
{
  color: #b30000;
  text-align: justify;
  font-family:calibri;
  font-size: 15px;
  font-weight: bold;
}

.link, .link:visited{
  color:#b30000;
  font-size:15px;
  margin-top: 10px;
  text-decoration: underline transparent;
}
.link:hover{
  color:white;
  background-color: #ffbf80;
  padding: 4px;
  border-radius: 15px;

}

#message {
  color: #e60000;
}

.footer
{
  text-align:center;
  margin-bottom: 10%;
}

.rb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    outline: none;
    border: 3px solid #660000;
}

.rb:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

.rb:checked:before {
    background: #660000;
    
}

.rb:checked {
  border-color:#660000;
}

.in
{
  display: inline-block;
  align-content:  center;
  margin-top:10px;
  box-sizing: border-box;
  text-align: left;
  border: solid #ffbb99;
  border-radius: 5px;
  display: inline-block;
  padding-left: 5px;
  align-self: left;
}

.in:focus
{
  border: solid #ff884d;
  outline-width: 0ch;
}

.field
{
  border-color: #ffbb99;
  border-style: solid;
  padding-left: 20px;
}

#head
{
    color: #800000;
  font-family: calibri;
  font-weight: bold;
}